atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Testing==0.7.1
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.8.0
py==1.7.0
pycurl==7.43.0
pygobject==3.20.0
pytest==3.10.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
requests==2.20.1
six==1.10.0
unattended-upgrades==0.1
urllib3==1.24.1
Werkzeug==0.14.1
